.close-button {
    margin-left: 10px;
    background-color: #ff4444;
    border: none;
    color: white;
    cursor: pointer;
    margin: 6px;
  }
  
  .close-button:hover {
    background-color: #ff0000;
  }
  