.close-button {
  margin-left: 10px;
  background-color: #ff4444;
  border: none;
  color: white;
  cursor: pointer;
  margin: 6px;
}

.close-button:hover {
  background-color: #ff0000;
}

.success {
  color: rgb(49, 206, 1);
}

.register .ant-form-item-label:before {
  content: " *";
  color: red;
}

.text-register {
  text-align: center;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1124px) {
  .text-register {
    font-size: medium;
  }
}

@media only screen and (max-width: 426px) {
  .text-register {
    font-size: smaller;
    text-align: start;
  }
}
